*{
  box-sizing: border-box;
}
:root{
    --mian-color:  hsl(213, 96%, 18%);
    --second-color:  hsl(243, 100%, 62%);
    --gray:  hsl(231, 11%, 63%);
    --main-border-radius: .5rem
}
body{
  font-family: "Ubuntu", sans-serif;
  background-color: hsl(217, 100%, 97%);
  margin: 0;
}

/* Components */
aside + div{
  position: absolute;
  top: 99px;
  background: white;
  margin: 0 1rem;
  padding: 0 1.5rem 1rem;
  border-radius:var(--main-border-radius);
  height: fit-content;
  box-shadow: 0px 1px 9px #0000001c;
}

@media (min-width: 376px){
  .container{
    box-shadow: 0px 1px 9px #0000001c;
  }
  aside + div{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    flex: 1;
    height: 100%;
    box-shadow: none;
  }
}
@media (min-width: 640px){
    aside + div{
      margin: 0 2rem;
    }
}
@media (min-width: 1024px){
    aside + div{
      margin: 0 5rem;
    }
}

h2{
  margin-top: 2rem;
  margin-bottom: 0;
  color: var(--mian-color);
}
@media(min-width: 768px){
  h2{
    font-size: 30px;
  }
}

p{
  color:  var(--gray);
  margin: 12px 0 28px;
  line-height: 1.4;
}

.buttons{
  position: fixed;
  bottom: 0;
  right: 0;
  background-color: white;
  padding: 1rem;
  width: 100%;
  button{
    border: none;
    border-radius:var(--main-border-radius);
    font-size: 16px;
    padding: .7rem 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: .3s;
  }
  button.next{
    background:  var(--mian-color);
    color: white;
  }
  button.confirm{
    background-color:  var(--second-color);
    color: white;
  }
  .confirm:hover{
    opacity: .8;
  }  
  button.back{
    background-color: white;
    color:  var(--gray);
    display: none;
  }
  button.back:hover{
    color:  var(--mian-color);
  }
}
@media (min-width: 376px){
  .buttons{
    position: absolute;
    bottom: 2rem;
    right: 1.5rem;
    width: calc(100% - 3rem);
    padding: 0;
    button.next:hover{
      background-color:   var(--second-color);
    }
  }
}
@media (min-width: 640px){
  button{
    font-size: 16px;
    padding: .875rem 1.1rem;
  }
}
@media(min-width:376px) and (max-width: 439px){
.container{
  aside{
    flex-basis: 65px;
  }
  aside + div{
    padding: 0 0 2rem;
  }
  .buttons{
    right: 0;
    width: 100%;
  }
}
}

/* step 1 */
.container{
  height: 100vh;
  aside {
    background-image: url("/assets/images/bg-sidebar-mobile.svg");
    background-repeat: no-repeat;
    flex-basis: 172px;
    .steps{
      color: white;
      padding-top: 2rem;
      gap: 1.1rem;
      > div{
        .number{
          width: 38px;
          height: 38px;
          border-radius: 50%;
          border: 1px solid white;
          align-items: center;
          font-weight: bold;
        }
        .active{
          background-color: hsl(206, 94%, 87%);
          color:  var(--mian-color);
        }
        .about{
          display: none;
        }
      }
    }
  }
  .step-1{
    .content{
      gap: 25px;
      font-size: 14px;
      color:  var(--mian-color);
      label{
        > div {
          display: flex;
          justify-content: space-between;
          .error{
            color: hsl(354, 84%, 57%);
            font-weight: bold;
            display: none;
          }
        }
        input{
          display: block;
          width: 100%;
          border-radius:var(--main-border-radius);
          margin-top: 5px;
          border: 1px solid hsl(229, 24%, 87%);
          padding: .875rem;
          font-weight: bold;
          &::placeholder{
            font-weight: bold;
            font-size: 16px;
            color:  var(--gray);
          }
          &:focus{
            outline: 2px solid  var(--second-color);
          }
        }
      }
    }
  }
  .step-2{
    .content{
      .plans{
        margin-bottom: 1.5rem;
        display: flex;
        flex-direction: column;
        gap: 8px;
        > label{
          padding: .75rem;
          border: 1px solid hsl(229, 24%, 87%);
          border-radius:var(--main-border-radius);
          display: flex;
          align-items: flex-start;
          transition: .3s;
          cursor: pointer;
          > input{
            -webkit-appearance: none;
            -moz-appearance: none; 
            appearance: none;
          }
          .img{
            width: 40px;
            height: 40px;
            margin-right: .875rem;
          }
          .img + div{
            display: flex;
            flex-direction: column;
            gap: 5px;
          }
          span:first-child{
            color:  var(--mian-color);
            font-weight: bold;
            text-transform: capitalize;
          }
          span:nth-child(2){
            display: block;
            color:  var(--gray);
            font-size: 14px;
          }
          span:last-child{
            font-size: 12px;
            color:  var(--mian-color);
            display: none;
          }
        }
        label:has(:checked){
          border-color:  var(--second-color);
          background-color: hsl(243deg 100% 62%/5%);
        }
        > label.arcade .img{
          background-image: url("/assets/images/icon-arcade.svg");
        }
        > label.advanced .img{
          background-image: url("/assets/images/icon-advanced.svg");
        }
        > label.pro .img{
          background-image: url("/assets/images/icon-pro.svg");
        }
      }
      .period{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        background: hsl(243deg 100% 62% / 5%);
        height: 55px;
        border-radius:var(--main-border-radius);
        font-weight: bold;
        padding: 0 1.5rem;
        :first-child{
          color:  var(--mian-color);
          text-transform: capitalize;
        }
        > label{
          display: flex;
        }
        .toggle-checkbox{
          -webkit-appearance: none; 
          -moz-appearance: none; 
          appearance: none;
        }
        .toggle{
          height: 22px;
          width: 46px;
          background:  var(--mian-color);
          border-radius: 30px;
          position: relative;
          cursor: pointer;
          &::before{
            content: "";
            position: absolute;
            width: 14px;
            height: 14px;
            background-color: white;
            left: 5px;
            top: 50%;
            transform: translateY(-50%);
            border-radius: 50%;
            transition: .3s;
          }
        }
        .toggle-checkbox:checked + .toggle::before{
          left: 27px;
        }
        :last-child{
          color: hsl(231.43deg 11.11% 62.94%);
        }
      }
    }
  }
  .step-3{
    .content{
      label{
        display: flex;
        align-items: center;
        margin-bottom: 25px;
        padding: 8px;
        border: 1px solid #e5e7eb;
        border-radius:var(--main-border-radius);
        cursor: pointer;
        input{
          -webkit-appearance: none; 
          -moz-appearance: none; 
          appearance: none;
        }
        input + span{
          width: 15px;
          height: 15px;
          margin: 0;
          margin-right: 15px;
          border: 1px solid #e5e7eb;
          position: relative;
          color: white;
          &::before , 
          &::after{
            content: "";
            position: absolute;
            background-color: white;
          }
          &::before{
            width: 10px;
            height: 2px;
            top: 38%;
            right: 0;
            transform: rotate(132deg);
          }
          &::after{
            width: 5px;
            height: 2px;
            top: 50%;
            right: 7px;
            transform: rotate(45deg);
          }
        }
        input:checked + span{
          background-color:  var(--second-color);
        }
        div{
          flex: 1;
          h4{
            color:  var(--mian-color);
            margin: 0;
            margin-bottom: 3px;
          }
          p{
            margin: 0;
            font-size: 14px;
          }
        }
        > span{
          font-size: 13px;
          color:  var(--second-color);
        }
      }
      label:has(:checked){
        border-color:  var(--second-color);
      }
    }
  }
  .step-4 .content + div{
    color: #9699AB;
    .top {
      padding: 25px 20px;
      background-color: hsl(243deg 100% 62%/5%);
      border-radius:var(--main-border-radius);
      .first{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 25px;
        position: relative;
        &::after{
          content: "";
          position: absolute;
          width: 100%;
          height: 1px;
          background-color:  hsl(229, 24%, 87%);
          bottom: 0;
        }
        div{
          h4{
            margin: 0;
            color: var(--mian-color);
            text-transform: capitalize;
          }
          .change{
            text-decoration: underline;
            text-transform: capitalize;
            cursor: pointer;
            transition: .3s;
          }
          .change:hover{
            color:  var(--second-color);
          }
        }
        span.salary{
          color:  var(--mian-color);
          font-size: 15px;
          font-weight: bold;
        }
      }
      .second{
        padding-top: 25px;
        display: flex;
        justify-content: space-between;
        span.salary{
          color:  var(--mian-color);
          font-size: 15px;
        }
      }
      .third, 
      .fourth{
        padding-top: 15px;
        display: flex;
        justify-content: space-between;
        span.salary{
          color:  var(--mian-color);
          font-size: 15px;
        }
      }
    }
    .down{
      padding: 20px;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      :first-child{
        margin-bottom: 10px;
      }
      .total{
        color:  var(--second-color);
        font-size: 20px;
        font-weight: bold;
      }
    }
  }
  .thank{
    margin: 80px 0 64px;
    text-align: center;
    align-self: center;
    img{
      width: 60px;
      height: 60px;
    }
    h2{
      margin-top: 25px;
      font-size: 25px;
    }
  }
}

@media (min-width: 376px){
  body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    .container {
      height: 570px;
      flex-direction: row;
      width: 93%;
      background-color: white;
      justify-content: space-between;
      border-radius:var(--main-border-radius);
      aside{
        flex-basis: 97px;
        background-image: url("/assets/images/bg-sidebar-desktop.svg");
        border-radius:var(--main-border-radius);
        padding: 1.5rem 1.25rem;
        .steps{
          flex-direction: column;
          padding-top: 0;
          gap: 28px;
          & > div{
            display: flex;
            gap: 20px;
          }
        }
      }
    }
  }
}

@media(min-width:376px) and (max-width: 439px){
  body .container{
    aside{
      flex-basis: 65px;
    }
  }
}

@media (min-width:640px){
  body{
    .container {
      padding:1rem;
      aside{
        flex-basis: 174px;
        .steps div{
          .about{
            display: block;
            color: hsl(229, 24%, 87%);
            font-size: 13px;
            span{
              display: block;
              margin-top: 3px;
              color: white;
            }
          }
        } 
      }
  }
  }
}

@media (min-width: 768px){
body{
  .container {
    aside{
      flex-basis: 190px;
      .steps .about span{
        font-weight: bold;
      }
    }
    .step-2{
      .content{
        .plans{
          flex-direction: row;
          gap: 10px;
          > label{
            display: flex;
            flex-direction: column;
            width: calc((100% - 20PX) / 3);
            .img{
              margin-bottom: 50px;
            }
          }
        }
      }
    }
    .step-3{
      .content{
        label{
          padding: 1rem;
        }
      }
    }
  }
}

}
@media (min-width: 1024px){
body{
  .container {
    aside{
      flex-basis: 274px;
      .steps > div .about{
        font-size: 16px;
      }
    }
  }
}
}